@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'ITC Avant Garde Gothic Pro';
    src: url('./static/fonts/ITCAvantGardePro-Bold.otf') format('opentype');
}

@font-face {
    font-family: 'Avenir';
    src: url('./static/fonts/Avenir.ttc') format('opentype');
}

.textone {
    font-family: 'ITC Avant Garde Gothic Pro';
}

.texttwo{
    font-family: 'Avenir';
}


.bg-opacity-50 {
    opacity: 0.5;
}
  
.translate-x-full {
    transform: translateX(-100%);
}
  
.translate-x-0 {
    transform: translateX(0);
}